body {
  line-height: 1.5;
  background-color: $bgcolor;
}

img {
  max-width: 100%;
}

.inline-block {
  display: inline-block;
}

// overrides bootstrap default
.container {
  max-width: 800px;
}

.pagination {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  @include justify-row();
}

.site-footer {
  background-color: $dark;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;

  a {
    color: $yellow;
  }
  .site-footer__attribution {
    @include justify-row();
  }
}
